[Desktop Entry]
Type=Application
Name=ZSNES
Comment=Super Nintendo emulator
Exec=zsnes %f
TryExec=zsnes
Icon=128x128x32
StartupWMClass=ld-linux.so.2
Terminal=false
StartupNotify=false
X-SingleMainWindow=true
Categories=Game;Emulator;
MimeType=application/vnd.nintendo.snes.rom;application/x-snes-rom;
